<li class="flex space-x-4 rtl:space-x-reverse py-4 ">
  <%= render 'components/avatar', user: comment.commenter %>
  <div class="flex-1 min-w-0">
    <div class="flex items-center justify-between mb-4">
      <div class="comment-info flex gap-2 items-center ">
        <p class="text-lg font-medium text-gray-900 truncate dark:text-white">
          <%= link_to comment.commenter.name, url_profile(comment.commenter) %>
        </p>
        <span class="text-sm text-gray-400">
          <%= time_ago_in_words(comment.updated_at) %>
        </span>
      </div>
      <div class="flex gap-2 items-center">
        <%# render "comments/like_status", comment: comment %>
        <button class="text-sm " data-reply-id="<%= local_assigns[:root_comment_id] || comment.id %>" data-sub-comment-id="<%= comment.id if local_assigns[:root_comment_id] %>" data-action="click->comment-new#reply">
          <%= render "components/icon", symbol: "rails-icon-reply1", class: "pointer-events-none" %>
        </button>
      </div>
    </div>
    <div>
      <%= render "components/rich_text_preview", content: comment.content %>
      <ul id="comments-<%= comment.id %>" class=" divide-y divide-gray-200 dark:divide-gray-700">
        <%= render comment.replies, root_comment_id: comment.id %>
      </ul>
    </div>
  </div>
</li>