<%= form_with model: model, url: user_update_password_path(model), class: 'max-w-prose mx-auto flex flex-col gap-4' do |f| %>
  <div id="error">
    <%= render "errors", errors: model.errors %>
  </div>
  <div class="flex-1">
    <div class="mb-5">
      <%= f.label :old_password, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.text_field :old_password, autofocus: true, autocomplete: "phone", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
    <div class="mb-5">
      <%= f.label :new_password, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.text_field :new_password, autofocus: true, autocomplete: "phone", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
    <div class="mb-5">
      <%= f.label :new_password_confirmation, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.text_field :new_password_confirmation, autofocus: true, autocomplete: "phone", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
    <div class="actions">
      <%= f.submit "Update", class: "btn btn-primary w-44" %>
    </div>
  </div>
<% end %>