<li id="<%= dom_id user %>" class="flex gap-2">
  <div><%= user.name %></div>
  <div><%= user.phone %></div>
  <div><%= user.email %></div>
  <div><%= user.created_at.to_fs(:short) %></div>
  <%= render 'follow_status', user_id: user.id %>
</li>