<%= turbo_frame_tag "search" do %>
  <div class="flex flex-col p-6 gap-2 tracking-wide">
    <% if @result.present? && @q.present? %>
      <header class="flex items-center justify-between  mb-6 pb-2 dark:text-white shadow-sm">
        <h3 class="text-2xl"> Search result of: <span class="ml-2 font-bold" ><%= @q %></span></h3>
        <div>
          total  <%= @result.size %> <%= "record".pluralize(@result.size) %>
        </div>
      </header>
    <% end %>
    <% if @result.empty? %>
      <div class="flex items-center justify-center">
        <% if @q.present? %>
          <div class>No results for "<span class="font-semibold"><%= @q %><span>"</div>
            <% else %>
              <div >Typing Search!</div>
            <% end %>
          </div>
        <% else %>
          <ul class="flex flex-col gap-3">
            <% @result.each do |item| %>
              <li>
                <h4 class="text-xl font-semibold text-gray-700 hover:text-gray-800">
                  <%= link_to item, data: { turbo_frame: "_top"} do %>
                    <%= highlight(item.title, @q) %>
                  <% end %>
                </h4>
                <div class="flex gap-4">
                  <span class="text-green-600 hover:underline"><%= link_to post_url(item), item %></span>
                  <span class="text-gray-400"><%= item.created_at.strftime("%D") %></span>
                </div>
                <div class="text-gray-500">
                  <%= highlight(excerpt(item.rawhtml, @q, separator: ' ', radius: 10), @q) %>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>