<%= form_with(model: post, data: { controller: 'rich-editor' }, class: "post-form") do |form| %>
  <%= render "components/errors", errors: post.errors %>
  <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
    <div class="sm:col-span-2">
      <div class="flex gap-2">
        <%= form.select :category_id, Category.all.collect { |c| [c.name, c.id]}, { include_blank: false }, { class: "select select-bordered w-1/5" } %>
        <%= form.text_field :title, placeholder: "标题", class: 'input input-bordered flex-1' %>
      </div>
    </div>
    <div class="sm:col-span-2" >
      <%= form.label :context, style: "display: block", class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <%= form.hidden_field :rawhtml, data: { "rich-editor-target": "html" } %>
      <%= form.hidden_field :context, data: { "rich-editor-target": "content" } %>
      <div data-rich-editor-target="editor"></div>
    </div>
    <div>
      <%# form.submit %>
      <%= form.button :submit, class: 'hidden', data: { "rich-editor-target": "submitBtn"} %>
      <button class="btn btn-primary" data-action="click->rich-editor#submit">update</button>
    </div>
  </div>
<% end %>
