<section id="<%= dom_id post %>" class="flex gap-4 px-2 py-4 border-b border-solid border-slate-200 cursor-pointer hover:bg-stone-100">
  <%= render "components/avatar", { user: post.author, size: 10 } %>
  <main class="flex-1 flex flex-col justify-between h-12">
    <p class="text-xl font-extrabold leading-none tracking-tight text-gray-900"> <%= link_to post.title, post, data: { turbo_frame: "_top" }, class: 'hover:text-blue-600 hover:undeline' %> </p>
    <div class="flex gap-2 text-slate-500 text-sm">
      <span><%= post.created_at.strftime("%d %b") %> </span>
      <span>by</span>
      <span><%= post.author&.name %> </span>
    </div>
  </main>
  <footer>
    <div class="avatar-group -space-x-5 rtl:space-x-reverse">
      <div class="avatar">
        <div class="w-8">
          <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
        </div>
      </div>
      <div class="avatar">
        <div class="w-8">
          <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
        </div>
      </div>
      <div class="avatar">
        <div class="w-8">
          <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
        </div>
      </div>
      <div class="avatar placeholder">
        <div class="w-8 bg-neutral text-neutral-content">
          <span>+99</span>
        </div>
      </div>
    </div>
  </footer>
</section>