<div class="w-full flex flex-col sm:flex-row gap-10">
  <div class="sm:w-3/4 glow flex flex-col gap-4">
    <section id="<%= dom_id @post %>" class="flex flex-col gap-4 sm:gap-3 bg-white dark:bg-gray-900 rounded-lg p-5 shadow-sm">
      <header class="flex items-center gap-2 font-normal text-gray-500">
        <span class="text-xl"><%= link_to @post.category.name, category_slug_path(@post.category.slug) %></span>
        <span class="dot">&#183;</span>
        <p class="text-xl font-bold sm:text-3xl sm:font-extrabold leading-none tracking-tight text-gray-700  dark:text-white"> <%= @post.title %> </p>
      </header>
      <div class="flex flex-col gap-2 text-sm text-slate-500 mt-[-10px] mb-2">
        <span> <%= @post.created_at.strftime("%d %b %Y") %> 创建 </span>
        <div class="flex gap-2">
          <span class="flex items-center gap-2"><%= render "components/icon", symbol: "rails-icon-views" %> <%= @viewed_count %> </span>
          <% if @post.author == current_user %>
            <span class="dot">&#183;</span>
            <%= link_to  "edit", edit_post_path(@post), class: "hover:underline" %>
          <% end %>
        </div>
      </div>
      <main class="min-h-[200px] text-lg font-normal text-gray-500 dark:text-gray-400"> <%= render "components/rich_text_preview", content: @post.context %> </main>
    </section>
    <div class="flex flex-col gap-4" data-controller="comment-new">
      <div id="comment-list" class="flex flex-col gap-2">
        <%= render "comment_list", post: @post %>
      </div>
      <section class="bg-white dark:bg-gray-900 rounded-lg p-6 shadow-sm">
        <%= render partial: "comments/new", locals: { model: [@post, @post.comments.build]} %>
      </section>
    </div>
  </div>
  <div class="hidden sm:block md:w-60 lg:w-72 shrink-0">
    <div class="fixed md:w-60 lg:w-72 flex flex-col gap-4">
      <% if @post.author.present? %>
        <div class="card bg-white shadow-sm rounded-lg">
          <div class="card-body">
            <%= link_to url_profile(@post.author), class: "flex items-center justify-center gap-2" do %>
              <%= render "components/avatar", user: @post.author, size: 8 %>
              <span class="text-lg font-semibold"> <%= @post.author.name %> </span>
            <% end %>
            <%= render "users/follow_status", user_id: @post.author.id %>
          </div>
        </div>
      <% end %>
      <section>
        <div class="inline-flex flex-col gap-4">
          <div class="tooltip tooltip-right inline-flex items-center" data-tip="Like">
            <div id="like-count" class="inline-flex items-center gap-2">
              <%= render "like_count", post: @post %>
            </div>
          </div>
          <div class="tooltip tooltip-right inline-flex items-center" data-tip="Favorite">
            <div id="favorite-count" class="flex items-center gap-2">
              <%= render "favorite_count", post: @post %>
            </div>
          </div>
          <div class="tooltip tooltip-right inline-flex items-center" data-tip="Subscribe">
            <div id="subscribe-count" class="flex items-center gap-2">
              <%= render "subscribe_count", post: @post %>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>