<div class="w-full flex gap-10">
  <div class="w-3/4 glow flex flex-col gap-4">
    <section id="<%= dom_id @post %>" class="flex flex-col gap-3 bg-white dark:bg-gray-900 rounded-lg p-5 shadow-sm">
      <header class="flex items-center gap-2 font-normal text-gray-500">
        <span class="text-xl"><%= @post.category.name %></span>
        <span class="dot">&#183;</span>
        <p class="text-3xl font-extrabold leading-none tracking-tight text-gray-700  dark:text-white"> <%= @post.title %> </p>
      </header>
      <div class="flex flex-col gap-1 text-sm text-slate-500">
        <div class="flex gap-2 ">
          <span class="flex items-center gap-2"><%= render "components/icon", symbol: "rails-icon-views" %> <%= @viewed_count %> </span>
          <% if @post.author == current_user %>
            <span class="dot">&#183;</span>
            <%= link_to  "edit", edit_post_path(@post), class: "hover:underline" %>
          <% end %>
        </div>
        <% if @post.author&.present? %>
          <span class="flex items-center gap-2 ">
            <%= link_to @post.author.name, url_profile(@post.author), class: "hover:underline" %>
            <span> <%= time_ago_in_words(@post.created_at) %> 创建 </span>
          </span>
        <% end %>
      </div>
      <main class="min-h-[200px] text-lg font-normal text-gray-500 dark:text-gray-400"> <%= render "components/rich_text_preview", content: @post.context %> </main>
      <% if @post.author != current_user %>
        <footer>
          <ul class="flex gap-2 items-center">
            <li id="like"> <%= render 'like', post: @post %> </li>
            <li id="subscribe"> <%= render 'subscribe', post_id: @post.id %> </li>
            <li id="favorite"> <%= render 'favorite', post_id: @post.id %> </li>
          </ul>
        </footer>
      <% end %>
    </section>
    <div class="flex flex-col gap-4" data-controller="comment-new">
      <% if @post.comments.empty? %>
        <div class="flex flex-col gap-2 items-center text-slate-500">
          <%= render "components/icon", symbol: "rails-icon-empty", class: "text-2xl" %>
          <span>暂无评论，去抢沙发!</span>
        </div>
      <% else %>
        <div class="text-lg font-semibold"> comments( <span id="comments-count" ><%= @post.comments.size %></span>)</div>
        <section class="bg-white dark:bg-gray-900 rounded-lg px-6 p-3 shadow-sm">
          <ul id="comments" class=" divide-y divide-gray-200 dark:divide-gray-700">
            <%= render @post.comments.no_reply_comments %>
          </ul>
        </section>
      <% end %>
      <section class="bg-white dark:bg-gray-900 rounded-lg px-6 py-2 shadow-sm">
        <%= render partial: "comments/new", locals: { model: [@post, @post.comments.build]} %>
      </section>
    </div>
  </div>
  <div class="md:w-60 lg:w-72 shrink-0">
    <div class="fixed md:w-60 lg:w-72 flex flex-col gap-4">
      <% if @post.author.present? %>
        <div class="card bg-white shadow-sm rounded-lg">
          <div class="card-body">
            <p class="text-lg font-semibold text-center"> <%= @post.author.name %> </p>
            <%= render "users/follow_status", user_id: @post.author.id %>
          </div>
        </div>
      <% end %>
      <div class="card bg-white shadow-sm rounded-lg">
        <div class="card-body">
          <div class="flex flex-col gap-4 items-center justify-center">
            <div id="like-count" class="flex flex-col items-center">
              <%= render "like_count", post: @post %>
            </div>
            <div class="flex gap-4">
              <div id="subscribe-count" class="flex items-center gap-1">
                <%= render "subscribe_count", post: @post %>
              </div>
              <div id="favorite-count" class="flex items-center gap-1">
                <%= render "favorite_count", post: @post %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>