<div class="w-full flex gap-10">
  <div class="w-3/4 glow flex flex-col gap-4">
    <section id="<%= dom_id @post %>" class="flex flex-col gap-3 bg-white dark:bg-gray-900 rounded-lg p-5 shadow-sm">
      <h2 class="text-4xl font-extrabold leading-none tracking-tight text-gray-900  dark:text-white"> <%= @post.title %> </h2>
      <div class="flex gap-2 text-slate-500 text-sm">
        <span><%= time_ago_in_words(@post.created_at) %> </span>
        <% if @post.author&.present? %>
          <span>by </span>
          <%= link_to @post.author.name, url_profile(@post.author) %>
          <% if @post.author == current_user %>
            <%= link_to  "edit", edit_post_path(@post) %>
          <% end %>
        <% end %>
      </div>
      <main class="min-h-[200px] text-lg font-normal text-gray-500 dark:text-gray-400"> <%= render "components/rich_text_preview", content: @post.context %> </main>
      <% if @post.author != current_user %>
        <footer>
          <ul class="flex gap-2 items-center">
            <li id="like"> <%= render 'like', post: @post %> </li>
            <li id="subscribe"> <%= render 'subscribe', post_id: @post.id %> </li>
            <li id="favorite"> <%= render 'favorite', post_id: @post.id %> </li>
          </ul>
        </footer>
      <% end %>
    </section>
    <div class="flex flex-col gap-4" data-controller="comment-new">
      <section class="bg-white dark:bg-gray-900 rounded-lg px-6 p-3 shadow-sm">
        <div class="mb-4 text-lg font-semibold"> comments( <span id="comments-count" ><%= @post.comments.size %></span>)</div>
        <ul id="comments" class=" divide-y divide-gray-200 dark:divide-gray-700">
          <%= render @post.comments.no_reply_comments %>
        </ul>
      </section>
      <section class="bg-white dark:bg-gray-900 rounded-lg px-6 p-3 shadow-sm" data-comment-new-target="form">
        <%= render partial: "comments/new", locals: { model: [@post, @post.comments.build]} %>
      </section>
    </div>
  </div>
  <div class="md:w-60 lg:w-72 shrink-0">
    <div class="fixed md:w-60 lg:w-72 flex flex-col gap-4">
      <% if @post.author.present? %>
        <div class="card bg-white shadow-sm rounded-lg">
          <div class="card-body">
            <p class="text-lg font-semibold text-center"> <%= @post.author.name %> </p>
            <%= render "users/follow_status", user_id: @post.author.id %>
          </div>
        </div>
      <% end %>
      <div class="card bg-white shadow-sm rounded-lg">
        <div class="card-body">
          <div class="flex flex-col gap-4 items-center justify-center">
            <div id="like-count" class="flex flex-col items-center">
              <%= render "like_count", post: @post %>
            </div>
            <div class="flex gap-4">
              <div id="subscribe-count" class="flex items-center gap-1">
                <%= render "subscribe_count", post: @post %>
              </div>
              <div id="favorite-count" class="flex items-center gap-1">
                <%= render "favorite_count", post: @post %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>