<div class="w-full fixed left-0 top-0 bg-stone-50 z-10 shadow-sm">
  <header class="xl:w-4/5 xl:mx-auto h-14 flex items-center justify-between px-4 border-b border-slate-100">
    <div class="flex gap-6 items-center">
      <%= link_to root_path do %>
        <%= image_tag "logo.svg", width: 62, class: "rounded" %>
      <% end %>
      <ul class="flex gap-8 items-center text-gray-900">
        <li class='me-4 hover:underline md:me-6 <%= active_link(root_path) %>'>
          <%= link_to "社区", root_path %>
        </li>
        <!--
        <li class='me-4 hover:underline md:me-6'>
          <%= link_to "问答", questions_path %>
        </li>
        -->
        <li class='me-4 hover:underline md:me-6 <%= active_link(wiki_path) %>'> <%= link_to "Wiki", wiki_path %> </li>
        <li class='me-4 hover:underline md:me-6 <%= active_link(sites_path) %>'> <%= link_to "酷站", sites_path %> </li>
      </ul>
    </div>
    <div class="flex gap-2 items-center">
      <%= render "layouts/header_search" %>
      <% if user_signed_in? %>
        <div class="dropdown dropdown-end inline-flex">
          <div tabindex="0" role="button" class="avatar placeholder">
            <div class="w-8 h-8">
              <%= render 'components/avatar', user: current_user, size: 8 %>
            </div>
          </div>
          <ul tabindex="0" class="menu dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52 mt-[42px]">
            <li><%= link_to 'Profile', slug_path(current_user) %></li>
            <li><%= link_to 'Setting', setting_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete }  %></li>
          </ul>
        </div>
      <% else %>
        <%= link_to "Login",  user_session_path %>
      <% end %>
      <%# link_to "New post", new_post_path, class: 'btn btn-primary btn-sm' %>
      <%# <button class="btn btn-primary btn-sm">New Post</button> %>
    </div>
  </header>
</div>