<div class="w-full fixed left-0 top-0 bg-stone-50 z-10 shadow-sm">
  <header class="xl:w-4/5 xl:mx-auto h-14 flex items-center justify-between px-4 border-b border-slate-100">
    <div class="flex gap-6 items-center">
      <%= image_tag "logo-temp.png", width: 48 %>
      <ul class="flex gap-8 items-center text-gray-900">
        <li class='me-4 hover:underline md:me-6'>
          <%= link_to "社区", root_path %>
        </li>
        <li class='me-4 hover:underline md:me-6'>
          <%= link_to "问答", questions_path %>
        </li>
        <li class='me-4 hover:underline md:me-6'> Wiki </li>
        <li class='me-4 hover:underline md:me-6'>  酷站 </li>
      </ul>
    </div>
    <div class="flex gap-2 items-center">
      <label class="input input-sm input-bordered flex items-center gap-2">
        <input type="text" class="grow" placeholder="Search" />
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
      </label>
      <% if user_signed_in? %>
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="avatar placeholder">
            <div class="bg-neutral text-neutral-content rounded-full w-8">
              <span><%= (current_user.name || 'u').first.capitalize %></span>
            </div>
          </div>
          <ul tabindex="0" class="menu dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52 mt-4">
            <li><%= link_to 'Profile', profile_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete }  %></li>
          </ul>
        </div>
      <% else %>
        <%= link_to "Login",  user_session_path %>
      <% end %>
      <%# link_to "New post", new_post_path, class: 'btn btn-primary btn-sm' %>
      <%# <button class="btn btn-primary btn-sm">New Post</button> %>
    </div>
  </header>
</div>